body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgb(192, 191, 191);
}

.navbar-collapse{
    flex-grow: 0;
}

.head-logo span{
    font-size: 12px;
}

.logout button{
    background-color: transparent;
    color: black;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.logout  button:hover{
    background-color: #0056b3;
    color: #fff;
    border: 2px solid #0056b3;
}

.user-name i{
    font-size: 30px;
}

.user-name{
    border-radius: 15%;
    padding: 1px 5px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}


main {
    margin-top: 80px;
    padding: 20px;
}

.head-upload{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid rgb(192, 191, 191);
}

.upload-button{
    background-color: transparent;
    color: black;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.upload-button:hover{
    background-color: #0056b3;
    color: #fff;
    border: 2px solid #0056b3;
}

.heading{
    font-size: 36px;
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 20px; 
    margin: 0;
}

.blog-box{
    height: 600px;
    width: 500px;
    padding: 10px;
    background-color: rgb(218, 223, 221);
    border-radius: 5px;
    box-shadow: 2rem 1rem 1rem -1rem;
    overflow: hidden;
    transition: transform 0.4s;
}

.blog-box:hover{
    transform: scale(.9);
}

.blog-box img{
    height: 280px;
    border: 1px solid rgb(129, 128, 128);
    overflow: hidden;
}
.blog-box div{
    height: 300px;
    overflow: hidden;
}
.blog-box div p{
    height: 100px;
}

.logout a{
    text-decoration: none;
    color: #fff;
}

.custom-btn{
    background-color: #01070f;
    border-color: #01070f;
    color: #fff;
}

.custom-btn:hover{
    background-color: rgb(43, 46, 46);
    border-color: rgb(34, 32, 32);
}


footer{
    border-top: 1px solid rgb(192, 191, 191);
}


.social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-media ul li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

