<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/user/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css">

</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form onsubmit="doLogin(event)">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Useremail" required>
                 <i class='bx bxs-envelope'></i>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="password" required>
                <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fi fi-sr-eye"></i></span>
            </div>
            <p id="warning"></p>
            <div class="remeber-forget">
                <label for="rememberMe"><input type="checkbox" name="rememberMe" id="rememberMe">Remember me</label>
                <a href="">Forgot password?</a>
            </div>
            <button type="submit" value="submit">Login</button>
            <div class="register-link">
                <p>Not a registered user? <a href="/signup">Register</a></p>
            </div>
        </form>
    </div>


    <script src="js/user/login.js"></script>
</body>
</html>
